.margin-right-small {
  margin-right: 5px; }

html {
  height: 100%; }

body {
  font-weight: lighter;
  font-family: helvetica;
  min-height: 100%; }
  body h1 {
    font-size: 36px;
    margin: 10px 0; }

#taTextElement {
  min-width: 300px;
  min-height: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px; }

.container {
  padding: 20px;
  margin-left: 125px;
  margin-top: 5px; }

.header {
  position: absolute;
  top: 0;
  left: 125px;
  right: 0;
  height: 5px;
  background-color: #a0574a;
  color: white;
  font-size: 5px;
  line-height: 5px; }
  .header span {
    margin-left: 20px; }

.left-nav {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 125px;
  background-color: #505658;
  /*I hate this but need it until responsive*/
  overflow: auto; }
  .left-nav .nav-item {
    width: 125px;
    display: inline-block;
    height: 125px;
    color: white;
    line-height: 125px;
    text-align: center;
    -webkit-user-select: none; }
    .left-nav .nav-item:hover {
      color: black;
      cursor: pointer; }
    .left-nav .nav-item:nth-child(1) img {
      max-width: 125px; }
    .left-nav .nav-item:nth-child(2) {
      background-color: #505658;
      margin-top: -3px; }
      .left-nav .nav-item:nth-child(2):hover {
        background-color: #575e60; }
    .left-nav .nav-item:nth-child(3) {
      background-color: #796555; }
      .left-nav .nav-item:nth-child(3):hover {
        background-color: #826d5b; }
    .left-nav .nav-item:nth-child(4) {
      background-color: #c98b5f; }
      .left-nav .nav-item:nth-child(4):hover {
        background-color: #cd936a; }
    .left-nav .nav-item:nth-child(5) {
      background-color: #75807c; }
      .left-nav .nav-item:nth-child(5):hover {
        background-color: #7d8884; }
    .left-nav .nav-item:nth-child(6) {
      background-color: #a0574a; }
      .left-nav .nav-item:nth-child(6):hover {
        background-color: #aa5d4f; }

.blog {
  color: #505658; }
  .blog h1 {
    color: #796555; }
  .blog .post {
    margin-bottom: 30px; }

.post-comments {
  margin-top: 15px;
  margin-left: 10px; }
  .post-comments input {
    margin-left: 3px;
    width: 87%; }
  .post-comments .comment {
    width: 90%; }
    .post-comments .comment .comment-date {
      float: right; }
    .post-comments .comment .comment-poster {
      font-weight: bold; }
