.margin-right-small {
  margin-right: 5px; }

.margin-vertical-small {
  margin: 5px 0; }

html {
  height: 100%; }

body {
  font-weight: lighter;
  font-family: helvetica;
  min-height: 100%; }
  body h1 {
    font-size: 36px;
    margin: 10px 0; }
  body .button {
    padding: 7px 10px;
    background-color: #75807c;
    display: inline-block;
    border-radius: 5px;
    color: white;
    font-weight: lighter; }
    body .button:hover {
      cursor: pointer;
      background-color: #828d89;
      font-weight: normal; }
  body .input {
    border-radius: 3px;
    padding: 2px 6px;
    font-size: 14px;
    border: 1px solid #75807c;
    opacity: .5; }

#taTextElement {
  min-width: 300px;
  min-height: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px; }

.container {
  padding: 20px;
  margin-left: 125px;
  margin-top: 5px; }

.header {
  position: fixed;
  top: 0;
  left: 125px;
  right: 0;
  height: 5px;
  background-color: #a0574a;
  color: white;
  font-size: 5px;
  line-height: 5px; }
  .header span {
    margin-left: 20px; }

.left-nav {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 125px;
  background-color: #505658;
  /*I hate this but need it until responsive*/
  overflow: auto; }
  .left-nav .social-holder {
    width: 125px;
    height: 125px;
    overflow: hidden;
    line-height: 62px;
    text-align: center;
    -webkit-user-select: none; }
    .left-nav .social-holder .facebook {
      background-color: #796555;
      position: absolute;
      top: 0;
      left: 0; }
      .left-nav .social-holder .facebook:hover {
        background-color: #977e6a; }
    .left-nav .social-holder .twitter {
      background-color: #c98b5f;
      margin-left: -2px;
      position: absolute;
      top: 0;
      left: 62px; }
      .left-nav .social-holder .twitter:hover {
        background-color: #d6a785; }
    .left-nav .social-holder .github {
      background-color: #75807c;
      position: absolute;
      top: 62px;
      left: 62px; }
      .left-nav .social-holder .github:hover {
        background-color: #8f9995; }
    .left-nav .social-holder .linkedin {
      background-color: #a0574a;
      position: absolute;
      top: 62px;
      left: 0px; }
      .left-nav .social-holder .linkedin:hover {
        background-color: #b87265; }
    .left-nav .social-holder .social-block {
      text-align: center;
      width: 62.5px;
      height: 62.5px;
      /*display: inline-block;*/
      margin: 0px;
      padding: 0px; }
      .left-nav .social-holder .social-block:hover {
        color: white; }
  .left-nav .nav-item {
    width: 125px;
    display: inline-block;
    height: 125px;
    color: white;
    line-height: 125px;
    text-align: center;
    -webkit-user-select: none; }
    .left-nav .nav-item:hover {
      color: black;
      cursor: pointer; }
    .left-nav .nav-item:nth-child(1) img {
      max-width: 125px; }
    .left-nav .nav-item:nth-child(2) {
      background-color: #505658; }
      .left-nav .nav-item:nth-child(2):hover {
        background-color: #575e60; }
    .left-nav .nav-item:nth-child(3) {
      background-color: #796555; }
      .left-nav .nav-item:nth-child(3):hover {
        background-color: #826d5b; }
    .left-nav .nav-item:nth-child(4) {
      background-color: #c98b5f; }
      .left-nav .nav-item:nth-child(4):hover {
        background-color: #cd936a; }
    .left-nav .nav-item:nth-child(5) {
      background-color: #75807c; }
      .left-nav .nav-item:nth-child(5):hover {
        background-color: #7d8884; }
    .left-nav .nav-item:nth-child(6) {
      background-color: #a0574a; }
      .left-nav .nav-item:nth-child(6):hover {
        background-color: #aa5d4f; }

.blog {
  color: #505658; }
  .blog h1 {
    color: #796555; }
  .blog .post {
    margin-bottom: 30px; }
    .blog .post img {
      max-width: 95%; }

.post-comments {
  margin-top: 15px;
  margin-left: 10px; }
  .post-comments .new-comment textarea {
    resize: none;
    width: 87%;
    margin-left: 3px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #75807c;
    font-size: 14px; }
  .post-comments .new-comment input {
    opacity: 1; }
  .post-comments .new-comment .cancel {
    display: inline-block;
    margin-left: 15px;
    font-size: 11px;
    color: #a0574a; }
    .post-comments .new-comment .cancel:hover {
      cursor: pointer;
      color: #505658; }
  .post-comments input {
    margin-left: 3px;
    padding-left: 7px;
    width: 85%;
    margin-bottom: 5px; }
  .post-comments .comment {
    width: 90%; }
    .post-comments .comment .comment-date {
      float: right;
      font-size: 12px;
      color: #75807c; }
    .post-comments .comment .comment-poster {
      font-weight: bold;
      color: #505658; }

.like {
  color: #505658; }
  .like:hover {
    color: #a0574a;
    cursor: pointer; }

.liked {
  color: #a0574a; }

h1 {
  color: #796555; }

h2 {
  color: #796555; }

.project .project-link {
  margin-top: 20px;
  color: #75807c; }
  .project .project-link .visit-this {
    padding-right: 10px; }
  .project .project-link a {
    text-decoration: none;
    color: #505658; }
.project .status .current-goal-status .percent {
  font-weight: bold;
  font-size: 34px;
  vertical-align: middle; }
.project .updates .update {
  margin: 20px 0;
  line-height: 24px; }
  .project .updates .update .update-text {
    max-width: 82%;
    width: 82%;
    display: inline-block; }
    .project .updates .update .update-text .fa-quote-left {
      font-size: 24px;
      padding-right: 5px;
      color: #505658; }
    .project .updates .update .update-text .fa-quote-right {
      font-size: 24px;
      padding-left: 5px;
      color: #505658; }
  .project .updates .update .update-date {
    font-size: 12px;
    display: inline-block;
    width: 15%;
    vertical-align: top;
    text-align: right;
    color: #75807c; }

.file {
  text-align: center;
  display: inline-block;
  width: 125px;
  height: 125px;
  border-radius: 5px;
  border: 1px solid #75807c;
  vertical-align: middle;
  background-color: #efefef;
  margin-right: 10px;
  margin-bottom: 10px;
  color: #505658;
  text-decoration: none; }
  .file:hover {
    background-color: #ccc;
    cursor: pointer;
    color: white; }
  .file i {
    margin-top: 27px;
    font-size: 48px; }
