<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <link rel="stylesheet" href="styles/css/font-awesome.css">
  </head>
  <body ng-app="jakenotjacobApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="header">
      <span>This site is dedicated to all true Jake's. Jacob's are fakes.</span>
    </div>

    <div class="left-nav" ng-controller="mainCtrl">
      <div class="nav-item">
        <img src="./images/jakeface.png"/>
      </div>
      <div class="nav-item" ng-click="toBlog()">
        <span><i class="fa fa-comments margin-right-small" style="font-size:20px;"></i>Blog</span>
      </div>
      <div class="nav-item" ng-click="toFirstProject()">
        <span><i class="fa fa-video-camera margin-right-small" style="font-size:20px;"></i>TPG</span>
      </div>
      <div class="nav-item" ng-click="toSecondProject()">
        <span><i class="fa fa-heart margin-right-small" style="font-size:20px;"></i>On Serve</span>
      </div>
      <div class="nav-item" ng-click="toThirdProject()">
        <span><i class="fa fa-money margin-right-small" style="font-size:20px;"></i>Gold Watch</span>
      </div>
      <div class="nav-item" ng-click="toFourthProject()">
        <span><i class="fa fa-pencil margin-right-small" style="font-size:20px;"></i>Writings</span>
      </div>

    </div>

    <!-- Add your site or application content here -->
    <div class="container" ng-view=""></div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45405004-2', 'jakenotjacob.com');
      ga('send', 'pageview');

    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angularfire/angularfire.js"></script>
    <script src="bower_components/textAngular/textAngular.js"></script>
    <script src="bower_components/textAngular/textAngular-sanitize.js"></script>
    <script src="bower_components/lodash/dist/lodash.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/blog/blogCtrl.js"></script>
        <script src="scripts/main/mainCtrl.js"></script>
        <script src="scripts/project/projectCtrl.js"></script>
        <script src="scripts/admin/adminCtrl.js"></script>
        <script src="scripts/common/comments.js"></script>
        <!-- endbuild -->
</body>
</html>
